$dustyGray: #999999;
$doveGray: #707070;
$hitGray: #a9b4b5;
$limedSpruce: #37474f;
$gray: #888888;
$blackPearl: #031718;
$java: #17bfcf;
$red: #ff0000;
$linkWater: #fbfcfe;
$main: #d5eff0;
$darkGreen: #0c6068;
$black: #000000;
$white: #ffffff;
$back: #f1f6f9;
$pink: #f1e5e6;
$firefly: #061a1b;
$alabaster: #f9f9f9;
$geyser: #d5e2e4;
$cornflowerBlue: #6195ed;
$aquaHaze: #edf4f5;
$alabaster: #fcfcfc;
// Border Colors
$border-color: #696969;
//#cfeeed
//#ebfae9
//#fefeff
