<div class="diagram-parent">
  <app-diagrams #appDiagram
    [file]="diagramFile"
    (importDone)="handleImported($event)"></app-diagrams>

  <div class="import-error"
    *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
</div>

<div fxLayout="row"
  fxLayoutAlign="end center" fxLayoutGap="20px" class="diagram_btn">
 
  <button mat-raised-button
    color="primary"
    (click)="saveSVG($event)">SVG خروجی </button>
    <button mat-raised-button
    color="primary"
    (click)="saveWorkFlow()">چاپ</button>
  <button mat-raised-button
    color="primary"
    (click)="exportJson()">ثبت اطلاعات</button>
    <button mat-raised-button
    class="diagram_btn-cancel"
      color="primary"
      routerLink="/">انصراف</button>
    </div>
    
    
    
    <button mat-raised-button
    class="diagram_btn-cancel"
      color="primary"
      routerLink="/org-mang">add</button>