@font-face {
  font-family: "IranianSans";
  src: url("../../assets/fonts/IranianSans/IranianSans.woff"),
    url("../../assets/fonts/IranianSans/IranianSans.ttf") format("truetype"),
    url("../../assets/fonts/IranianSans/IranianSans.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/materialicons/materialicons.woff2")
    format("woff2");
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/materialicons/materialicons.woff2");
}
