
@import "../../../_scss/global/_globals.scss";


.product-filter {
  padding: 12.5px 32px 12.5px 12.5px;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 16px;
}
