<!-- <div *ngIf="field?.touched && field?.invalid" class="text-err">
  <div *ngIf="field?.errors?.required">اطلاعات این بخش باید تکمیل شود</div>
  <div *ngIf="field?.errors?.minlength">
    تعداد ارقام کمتر از {{ field?.errors?.minlength.requiredLength }} رقم است.
  </div>
  <div *ngIf="field?.errors?.maxlength">
    تعداد ارقام بیشتر از {{ field?.errors?.maxlength.requiredLength }} رقم است.
  </div>
  <div *ngIf="field?.errors?.noSpace">فاصله مجاز نیست</div>
  <div *ngIf="field?.errors?.justDigits">فقط باید شامل اعداد باشد</div>

  <div *ngIf="field?.errors?.min">
    {{ fieldname }} ورودی کمتر از {{ field?.errors?.min.min }} است.
  </div>
  <div *ngIf="field?.errors?.max">
    {{ fieldname }} ورودی بیش از {{ field?.errors?.max.max }} است.
  </div>
  <div *ngIf="field?.errors?.max">
    {{ fieldname }} ورودی بیش از {{ field?.errors?.max.max }} است.
  </div>
</div> -->
