<mat-form-field
  appearance="outline"
  [formGroup]="group"
  fxFill
  class="dynamic-field"
>
  <mat-label>{{ field?.label }}</mat-label>
  <mat-select
    [(value)]="selectedOptions"
    [formControlName]="field.name"
    [attr.name]="field.name"
    [multiple]="isMultiple"
  >
    <mat-option
      (click)="onSelectOption()"
      *ngFor="let item of field?.list"
      [value]="item"
      class="align-r"
    >
      {{ item }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="name.invalid && name.touched">
    <signalr-error [field]="name" [errorTxt]="field?.errors"></signalr-error>
  </mat-error>
</mat-form-field>
