<!-- <div *ngIf="field?.touched && field?.invalid" class="text-err">
  <div *ngIf="field?.errors?.required">{{ errorTxt?.required }}</div>
  <div *ngIf="field?.errors?.minlength">{{ errorTxt?.minlength }}</div>
  <div *ngIf="field?.errors?.maxlength">{{ errorTxt?.maxlength }}</div>
  <div *ngIf="field?.errors?.justDigits">{{ errorTxt?.justDigits }}</div>
  <div *ngIf="field?.errors?.invalidNationalIdNo">
    {{ errorTxt?.invalidNationalIdNo }}
  </div>
  <div *ngIf="field?.errors?.IBANValidator">{{ errorTxt?.IBANValidator }}</div>
  <div *ngIf="field?.errors?.licensePlateValidator">
    {{ errorTxt?.licensePlateValidator }}
  </div>
  <div *ngIf="field?.errors?.invalidDate">{{ errorTxt?.invalidDate }}</div>
  <div *ngIf="field?.errors?.invalidRange">{{ errorTxt?.invalidRange }}</div>
  <div *ngIf="field?.errors?.isDuplicate">{{ errorTxt?.isDuplicate }}</div>
  <div *ngIf="field?.errors?.extention">فرمت فایل مجاز نمی باشد!</div>
  <div *ngIf="field?.errors?.maxSize">حجم فایل بیشتر از حد مجاز است!</div>
  <div *ngIf="field?.errors?.unhandled">خطایی در سیستم رخ داده است!</div>
</div> -->
