.dark {
  // Text
  --text-color-main: white;
  --text-input-color: #a4a7a6;
  --text-color-contrary: #202020;
  --text-color-green: #005133; // Should clear this

  // Colors
  --red: #f34444;
  --blue: #17bfcf;
  --black: #010101;
  --dark-blue: #25638f;
  --green: #00e38f;
  --dark-green: #0c6068;
  --orange: #ff9800;
  --gray: #eef0f4;
  --dark-gray: #696969;
  --yellow: #ffc629;
  --btn-back:#17bfcf;

  // Background Colors
  --background-first: #f9f9f9;
  --background-second: #0c6068;
  --background-third: #17bfcf;
  --background-forth: #383a39;
  --background-focused: #f2f4f8;
  --background-green: #04ba76;
  --background-contrary: white;
  --background-yellow: #242321;
  --background-blue: #18a0fb;

  // Border Colors
  --border-color: #696969;
}
